* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  border-bottom-style: solid;
  border-bottom-color: rgb(179, 179, 179);
  background-color: rgb(245, 245, 245);
}

.title {
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
  margin-right: 40px;
  margin-left:40px ;
}

.middle-section,
ul {
  display: flex;
  align-items: center;
}

.middle-section,
 li {
  margin: 0 20px;
  margin-bottom: -2px;

}

.middle-section a {
  color: grey;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.right-section{
display: flex;
align-items: center;
justify-content: space-between;
margin-right: 70px;
margin-left: 60px;
}

.facebook-icon{
width: 20px;
height: 20px;
margin-right: 30px;

}

.instagram-icon{
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.twitter-icon{
  width: 20px;
  height: 20px;
}

.searchbar-section{
 display: flex;
 align-items: center;
 justify-content: space-around;

}

.search-bar{
  padding: 10px 10px 10px;
  height: 34px;
  width: 300px;
  border-width: 1px;
  margin-right: 0;
  box-shadow: inset 1px 2px 5px
rgba(0, 0, 0, 0.04);
}

.search-button{
  height: 56px;
  padding: 24px 20px 20px;
}

.search-icon{
  height: 25px;
  width: 25px;
  margin-bottom: 40px;
  margin-top: -10px;
  margin-left: 6px;
  justify-content: center;
}

.subsection-text{
background-color: aqua;
padding: 20px;
text-align: center;
font-size: 18px;
}